<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     

    <title> Register </title>
    <style>
        .blue{
            background-color : #0063B2FF;
        }

        .lol{
            background-color: #9CC3D5FF;
        }
        body{
            background-color: cadetblue;
        }

    </style>

</head>
<body>
    <body class="bg-secondary">
        <div class="container">
  
          <div class="d-flex justify-content-center align-items-center" style="height:100vh;">
          <div class="lol p-5 col-lg-5 col-md-8" style="border-radius: 15px;">
            <form [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)"> 
                <div class="form-group">
                    <label for="exampleinputFullName"><b>Full Name :</b></label>
                    <input type="text" class="form-control" id="InputName">
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1"><b>Email Address :</b></label>
                  <input type="email" class="form-control" id="InputEmail" formControlName = "email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><b>Password :</b></label>
                  <input type="password" class="form-control" id="InputPassword" formControlName = "password">
                </div>
                <button type="submit" class="text-center btn btn-dark">Register</button>
              </form>
            </div>
          </div>
        </div>
    </body>

      <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
      
   </body>
</html>